.user-help {
  & {
    margin: 3em 1em 1em;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
  }

  &__action {
    color: $blue;

    &:hover {
      border-bottom: 2px solid $blue;
      background-color: rgba($blue, 0.1);
    }
  }

  &__content {
    max-height: 0;
    transition: 300ms max-height ease-in-out;
    overflow: hidden;

    &.is-visible {
      max-height: 50rem;
    }
  }

  &__tips {
    li {
      margin-bottom: 1em;

      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 0.95em;
        width: 0.65em;
        border-radius: 0.1em;
        background-color: $green;
        margin-right: 0.4em;
      }
    }
  }
}