@keyframes display-card {
  0% {
    transform: scale(0.8) translateY(-120vh);
  }

  10% {
    opacity: 1;
  }

  60% {
    transform: scale(0.8) translateY(0);
  }

  80% {
    transform: scale(1.15);
  }

  94% {
    transform: scale(1.03);
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes close-card {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  40% {
    transform: scale(0.9);
    opacity: 1;
  }

  99% {
    transform: scale(0.1);
  }

  100% {
    opacity: 0;
  }
}

.win-splash {
  & {
    position: fixed;
    height: 96vh;
    width: 96vw;
    top: 2vh;
    left: 2vw;
    background-color: $orange;
    color: $white;
    padding: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: $border-radius;
    box-shadow: 0 0 40px $dark-gray;
    overflow: hidden;
    transform: scale(0.8) translateY(-120vh);
    opacity: 0;
    z-index: 20;
  }

  &--visible {
    animation-name: display-card;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    animation-timing-function: ease-in;
  }

  &--closing {
    animation-name: close-card;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
  }

  &__winner-info {
    padding-top: 2vh;
  }

  &__winner-prefix {
    font-size: 1.75em;
  }

  &__winner {
    font-family: $font-family-serif;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 1rem;
  }

  &__explanatory {
    padding-top: 1.25rem;
  }

  &__hero {
    flex-grow: 1;
    max-height: 30vh;
    width: 100%;
  }

  &__icon {
    fill: $white;
    max-width: 30vh;

    @media (max-width: 30rem) {
      margin-top: 50%;
      transform: translateY(-50%);
    }
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: $white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    padding: 0.1em;
    border: 0;
  }

  &__close-icon {
    stroke: $dark-gray;
  }

  &__action {
    width: 100%;
    margin-top: 1.25em;
    padding: 0.75em;
    border: 0;
  }
}