.game-action {
  & {
    display: flex;
    justify-content: space-between;
    padding-top: calc(1em + 3vh);
    width: 100%;
    clear: both;
  }

  &__item {
    border: 0;
    background-color: $orange;
    color: $white;
    width: 48%;
  }
}

.secondary-action {
  & {
    display: flex;
    justify-content: space-between;
    padding-top: calc(1em + 3vh);
    width: 100%;
    clear: both;
  }
}

.reset-game {
  background-color: $green;
}

.add-game-player {
  &__icon {
    margin-right: 0.5em;
    fill: $dark-gray;
  }
}

.round-action--complete {
  border-color: $offset-background;
  color: #565656;
  font-weight: $font-default;
  opacity: 0.8;
}