.game-action {
  & {
    display: flex;
    justify-content: space-between;
    padding-top: calc(1em + 3vh);
    width: 100%;
    clear: both;
  }

  &__item {
    border: 0;
    background-color: $orange;
    color: $white;
    width: 48%;
  }
}

.reset-game {
  background-color: $green;
}

.add-game-player {
  clear: both;
  float: right;
  margin-top: 2em;
}