.player {
  & {
    position: relative;
    margin-bottom: 1em;
    border-left: 4px solid var(--player-color);
    margin-left: calc((1em + 1vw) * -1);
    padding-left: calc(1em + 1vw);
  }

  &--highest {
    border-left-width: 10px;

    .player__name-text {
      font-weight: $font-bold;
    }
  }

  & + & {
    margin-top: 2em;
  }

  &__name {
    padding-bottom: 0.5em;
  }

  &__name-text {
    padding: 0.1em 0.5em;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
  }

  &__name-input {
    width: 100%;
    padding: 0.5em;
  }

  &__delete {
    width: 1.4rem;
    height: 1.4em;
    padding: 0.1em;
    border-radius: 100%;
    border: none;
    background-color: $light-gray;
    display: inline-block;
    vertical-align: middle;
  }

  &__delete-icon {
    stroke: $white;
    stroke-width: 3px;
  }

  &__score-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__score-entry {
    display: flex;
    justify-content: center;
  }

  &__score-input {
    border-radius: 0;
    border-width: 1px 0;
    width: 6rem;
    box-shadow: none;
    -webkit-appearance: none;
  }

  &__score-button {
    & {
      background-color: $white;
      border-color: $light-gray;
      transition: opacity 200ms ease-out, width 200ms ease-out, padding 200ms ease-out, border 200ms ease-out;
      overflow: hidden;
    }

    &--minus {
      border-radius: 4px 0 0 4px;
    }

    &--add {
      border-radius: 0 4px 4px 0;
    }
  }

  &__score-icon {
    fill: $dark-gray;
  }

  &__score {
    color: $white;
    font-size: 1.2em;
    font-weight: $font-bold;
    padding: 0.5em 1em;
    border-bottom: 4px solid $light-gray;
    min-width: 4rem;
    text-align: center;
    background-color: $mid-gray;
    background-color: var(--player-color);
  }
}

.has-empty-score {
  .player {
    &__score-input {
      border: 1px solid $mid-gray;
    }

    &__score-button {
      opacity: 0.4;
    }
  }
}