.player {
  & {
    position: relative;
    margin-bottom: 1em;
    border-left: 4px solid var(--player-color);
    margin-left: calc((1em + 1vw) * -1);
    padding-left: calc(1em + 1vw);
  }

  &--highest {
    border-left-width: 10px;
    padding-left: calc(1em + 1vw - 6px);

    .player__name-text {
      font-weight: $font-bold;
      max-width: calc(100% - 4.5em);
    }

    .player__status-note--leading {
      display: inline-block;
    }
  }

  &--tied {
    border-left-width: 10px;
    padding-left: calc(1em + 1vw - 6px);

    .player__name-text {
      font-weight: $font-bold;
      max-width: calc(100% - 3.5em);
    }

    .player__status-note--tied {
      display: inline-block;
    }
  }

  & + & {
    margin-top: 2em;
  }

  &__name {
    padding-bottom: 0.5em;
  }

  &__name-group {
    padding: 0.1em 0.5em;
    border: 1px solid transparent;
    display: block;
    font-size: 1.2em;
    width: 100%;
    white-space: nowrap;
  }

  &__name-text {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 1.3em);
  }

  &__name-input {
    width: 100%;
    padding: 0.5em;
  }

  &__delete {
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1rem;
    padding: 0;
    border-radius: 100%;
    border: none;
    background-color: lighten($light-gray, 4);
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.4em;
  }

  &__delete-icon {
    stroke: $white;
    stroke-width: 3px;
    margin-top: -1px;
  }

  &__score-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__score-entry {
    display: flex;
    justify-content: center;
  }

  &__score-input {
    display: block;
    border-radius: 0;
    border-width: 0 1px $border-heavy;
    background-color: $offset-background;
    width: 6rem;
    -webkit-appearance: none;
    font-size: 1.1em;
    padding: 0.9em 0.5em;
  }

  &__score-button {
    & {
      background-color: $offset-background;
      border: 0 solid $mid-gray;
      transition: opacity 200ms ease-out, width 200ms ease-out, padding 200ms ease-out, border 200ms ease-out;
      overflow: hidden;
    }

    &--minus {
      border-radius: 4px 0 0 4px;
      border-right: 1px;
    }

    &--add {
      border-radius: 0 4px 4px 0;
      border-left: 1px;
    }
  }

  &__score-icon {
    fill: $dark-gray;
  }

  &__score {
    color: $white;
    font-size: 1.2em;
    font-weight: $font-bold;
    padding: 0.6em 1em;
    border-bottom: $border-heavy solid $light-gray;
    min-width: 4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: $mid-gray;
    background-color: var(--player-color);
  }

  &__full-score {
    position: relative;
    z-index: 2;
  }

  &__round-score {
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding: 0.6em 1em;
    background-color: $mid-gray;
    background-color: var(--player-color);
    transition: 200ms transform ease-in-out;

    &.is-active {
      transform: translateX(100%);
    }
  }

  &__status-note {
    display: none;
    font-size: 0.9rem;
    vertical-align: top;
    font-weight: $font-default;
    color: $mid-gray;
    letter-spacing: 0.4px;
  }
}

.has-empty-score {
  .player {
    &__score-input {
      border-color: $mid-gray;
      border-left-color: transparent;
      border-right-color: transparent;
    }

    &__score-button {
      opacity: 0.2;
    }
  }
}