@keyframes flash {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  80% {
    transform: scale(2);
    opacity: 1;
  }

  93% {
    opacity: 1;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.win-splash {
  & {
    position: fixed;
    height: 96vh;
    width: 96vw;
    top: 2vh;
    left: 2vw;
    background-color: $orange;
    color: $white;
    padding: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    box-shadow: 0 0 40px $dark-gray;
    font-size: 2em;
    overflow: hidden;
  }

  &__flash {
    width: 80vw;
    height: 50vh;
    position: relative;

    > * {
      width: 30vw;
      height: 30vw;
      background-color: $white;
      border-radius: 100%;
      animation-duration: 300ms;
      animation-name: flash;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  &__winner-info {
    padding-top: 2vh;
  }

  &__winner {
    font-family: $font-family-serif;
    font-size: 1.5em;
    line-height: 1;
    padding-top: 1rem;
  }

  &__icon {
    fill: $white;
    max-width: 40vw;
  }
}

.circle-2 {
  animation-duration: 400ms;
  left: 70%;
  background-color: $yellow;
}

.circle-3 {
  animation-duration: 450ms;
  left: 40%;
  top: 40%;
  background-color: lighten($green, 20);
}

.circle-4 {
  animation-duration: 350ms;
  left: 6%;
  top: 41%;
  background-color: lighten($blue, 20);
}

.circle-5 {
  animation-duration: 380ms;
  left: 45%;
  top: 12%;
  background-color: $white;
}

.circle-6 {
  animation-duration: 350ms;
  left: 44%;
  top: 44%;
  background-color: $yellow;
}