.win-points {
  & {
    padding: 1em 0;
    border: solid $offset-background;
    border-width: 1px 0;
    text-align: center;
  }

  &__wrapper {
    clear: both;
    padding: calc(1vh + 1em) 0 1em;
  }

  &__label {
    color: $dark-gray;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5em;
  }

  &__input {
    width: 4rem;
    border-radius: 0;
    border-width: 0 0 $border-heavy;
    background-color: $offset-background;
    -webkit-appearance: none;
    font-size: 1.1em;
    padding: 0.9em 0.5em;
    text-align: center;
  }
}